# This is the installer builder.
#
# It's triggered automatically when a version tag is pushed.
#
# For manual builds, add automatic_release_tag: "Nightly", otherwise the release creation will fail.
# The previous steps will work though so this can be used to check that it builds the installers.
# fetch-depth has been set to 0 so that manual builds will work, otherwise it might not find the version tag
# as it only fetches the latest commit history by default.
#
# When setting the java version, always use x.y.z even if there's more numbers, otherwise @setup-java will fail.
#

name: Installer build
run-name: Installer Build - ${{ github.ref_name }}

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

permissions:
  contents: write
  packages: write
  actions: read

env:
  JAVA_VERSION: '25.0.1'
  JAVA_DISTRIBUTION: 'graalvm'

jobs:
  build-windows-installer-msi:
    name: Build windows installer
    runs-on: windows-2025
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Validate Gradle
        uses: gradle/actions/wrapper-validation@v5

      - name: Setup JDK
        uses: graalvm/setup-graalvm@v1
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: ${{ env.JAVA_DISTRIBUTION }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build
        run: .\gradlew.bat jpackage --info

      - name: Rename MSI file
        shell: pwsh
        run: |
          $msiFile = Get-ChildItem ./app/build/distributions/NerveMind-*.msi | Select-Object -First 1
          Move-Item $msiFile.FullName "./app/build/distributions/NerveMind-Windows.msi"

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          path: ./app/build/distributions/NerveMind-Windows.msi
          name: windows-installer-msi
          retention-days: 1

  build-windows-installer-portable:
    name: Build windows portable installer
    runs-on: windows-2025
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Validate Gradle
        uses: gradle/actions/wrapper-validation@v5

      - name: Setup JDK
        uses: graalvm/setup-graalvm@v1
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: ${{ env.JAVA_DISTRIBUTION }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build
        run: .\gradlew.bat jpackage -P"jpackage.portable=true" --info

      - name: Package Portable
        shell: pwsh
        run: |
          cd app/build/distributions
          Compress-Archive -Path NerveMind -DestinationPath NerveMind-Windows-Portable.zip

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          path: ./app/build/distributions/NerveMind-Windows-Portable.zip
          name: windows-installer-portable
          retention-days: 1

  build-macos-installer:
    name: Build macos-15 installer
    runs-on: macos-15
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Validate Gradle
        uses: gradle/actions/wrapper-validation@v5

      - name: Setup JDK
        uses: graalvm/setup-graalvm@v1
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: ${{ env.JAVA_DISTRIBUTION }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build
        run: ./gradlew jpackage --info

      - name: Rename .dmg file
        run: |
          # Extract filename
          DMG_FILE=$(find ./app/build/distributions -name "*.dmg" -type f | head -n 1)
          FILENAME=$(basename "$DMG_FILE" .dmg)
          mv "./app/build/distributions/${FILENAME}.dmg" "./app/build/distributions/NerveMind-macOS.dmg"

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          path: ./app/build/distributions/NerveMind-macOS.dmg
          name: macos-installer
          retention-days: 1

  build-macos-portable:
    name: Build macos portable
    runs-on: macos-15
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Validate Gradle
        uses: gradle/actions/wrapper-validation@v5

      - name: Setup JDK
        uses: graalvm/setup-graalvm@v1
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: ${{ env.JAVA_DISTRIBUTION }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build
        run: ./gradlew jpackage -P"jpackage.portable=true" --info

      - name: Package Portable
        run: |
          cd app/build/distributions
          zip -r NerveMind-macOS-Portable.zip NerveMind.app

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          path: ./app/build/distributions/NerveMind-macOS-Portable.zip
          name: macos-portable
          retention-days: 1

  build-ubuntu-installer-deb:
    name: Build ubuntu installer
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Validate Gradle
        uses: gradle/actions/wrapper-validation@v5

      - name: Setup JDK
        uses: graalvm/setup-graalvm@v1
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: ${{ env.JAVA_DISTRIBUTION }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build
        run: ./gradlew jpackage --info

      - name: Rename .deb file
        run: |
          DEB_FILE=$(find ./app/build/distributions -name "*.deb" -type f | head -n 1)
          mv "$DEB_FILE" "./app/build/distributions/NerveMind-Linux.deb"

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          path: ./app/build/distributions/NerveMind-Linux.deb
          name: ubuntu-installer
          retention-days: 1

  build-ubuntu-portable:
    name: Build ubuntu portable
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Validate Gradle
        uses: gradle/actions/wrapper-validation@v5

      - name: Setup JDK
        uses: graalvm/setup-graalvm@v1
        with:
          java-version: ${{ env.JAVA_VERSION }}
          distribution: ${{ env.JAVA_DISTRIBUTION }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5

      - name: Build
        run: ./gradlew jpackage -P"jpackage.portable=true" --info

      - name: Package Portable
        run: |
          cd app/build/distributions
          tar -czf NerveMind-Linux-Portable.tar.gz NerveMind

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          path: ./app/build/distributions/NerveMind-Linux-Portable.tar.gz
          name: ubuntu-portable
          retention-days: 1

  create-release:
    name: Create release
    runs-on: ubuntu-latest
    needs: [ build-windows-installer-msi,
             build-windows-installer-portable,
             build-ubuntu-installer-deb,
             build-ubuntu-portable,
             build-macos-installer,
             build-macos-portable ]
    if: always()
    steps:
      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: ./release_artifacts
          merge-multiple: true

      - name: Generate checksum
        run: |
          cd ./release_artifacts
          sha256sum * > ../checksum.txt
          cat ../checksum.txt

      - name: Create Github release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            checksum.txt
            ./release_artifacts/*
          draft: false
          prerelease: false
          generate_release_notes: true
          token: ${{ secrets.GITHUB_TOKEN }}